<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>278036325486-h7c730o3m7q1etvth0vtbjtgjphs31o1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.278036325486-h7c730o3m7q1etvth0vtbjtgjphs31o1</string>
	<key>API_KEY</key>
	<string>AIzaSyC0lqQNXFaftTXizKN1Jz0LHqI1Q-eWOtE</string>
	<key>GCM_SENDER_ID</key>
	<string>278036325486</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.react.native.firebase.demo</string>
	<key>PROJECT_ID</key>
	<string>reactnativefirebasedemo-d0144</string>
	<key>STORAGE_BUCKET</key>
	<string>reactnativefirebasedemo-d0144.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:278036325486:ios:8fdfab74eaa6430d5b727f</string>
	<key>DATABASE_URL</key>
	<string>https://reactnativefirebasedemo-d0144.firebaseio.com</string>
</dict>
</plist>
